<div class="container">
    <div class="filters">
      <a class="button" (click)="filter='Heads'">Heads</a>
      <a class="button" (click)="filter='Arms'">Arms</a>
      <a class="button" (click)="filter='Torsos'">Torsos</a>
      <a class="button" (click)="filter='Bases'">Bases</a>
      <a class="button" (click)="filter=''">All</a>
    </div>
  
    <ul class="products">
      <!-- structural directives: change the stucture of an HTML document; signed with: * -->
      <li class="product-item" *ngFor="let product of getFilteredProducts()">
        <div class="product">
          <div class="product-details">
            <!-- interpolation: {{ some value }}-->
            <!-- <img src="/assets/images/robot-parts/{{product.imageName}}" alt="{{product.name}}" /> -->
            <!-- attribute binding: [] + JS expression in quotes-->
            <!-- one way binding from component to the template -->
            <!-- whenever data  changes in the component, it will be ubdated in the template -->
            <!-- <img [src]=" '/assets/images/robot-parts/' + product.imageName " [alt]="product.name" /> -->
            <!-- we can bind an attrubute to a return value of a function on our component -->
            <img [src]="getImageUrl(product)" [alt]="product?.name" />
            <div class="product-info">
              <div class="name lightPurple">{{ product?.name }}</div>
              <div class="description">{{ product?.description }}</div>
              <div class="category">Part Type: {{product?.category}}</div>
            </div>
          </div>
          <div class="price">
            <div *ngIf="product.discount === 0">{{product?.price | currency:'JPY' }}</div>
            <!-- Tutorial-like formatting without currency pipe: -->
            <!-- <div>${{ product.price.toFixed(2)}}</div> -->
            <div class="discount" *ngIf="product.discount > 0">
              {{ product.price * (1 - product.discount) | currency:'JPY' }}
            </div>
            <button class="cta">Buy</button>
          </div>
        </div>
      </li>
    </ul>
  </div>